.navbar nav{
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(163, 161, 161);
    font-size: 30px;
    height : 60px
}

.navbar__desktop h1{
    /* border: 1px solid black; */
}

.navbar__ul__desktop{
display: flex;
list-style: none;
align-items: center;
/* border: 1px solid black; */

}
.navbar__ul__desktop li{
 
 /* border: 1px solid black; */
 cursor: pointer;
 font-weight: 500;
 
}
.navbar__ul__desktop li:hover{
    border-bottom: 2px solid rgb(163, 161, 161);
}

.navbar__ul__desktop li:not(:nth-child(3))
{
    margin-right: 20px;
}
.navbar__ul__desktop li a
{
   text-decoration: none;
   color : black;
}
.navbar__ul__desktop li a
{
   color : black;
}
/* MIddle section */

.navbar__search{
    /* border: 1px solid black; */
    max-width: 50%;
    display: flex;
    align-items: center;
    padding: 3px;
}
.navbar__search input{
   
    max-width : 300px;
    max-height : 80%;
    margin-right: 8px;
    font-size: 25px;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    color: rgb(59, 58, 58);
    padding: 5px;
    border: 1px solid rgb(163, 161, 161);
    
}
.navbar__search input:focus{
    outline:none;
    background-color: #fff;
    
}

.navbar__search input:hover{
    background-color: #fff;
}

.navbar__search a{
    border: 1px solid rgb(163, 161, 161);
    border-radius: 25px;
    padding: 8px;
    font-weight: 500;
    cursor: pointer;
    background-color:#fbf6f6;
    max-height : 80%;
    font-size:20px;
}

.navbar__search a:hover{
    background-color:#F0F0F0
}

.navbar .navbar__mobile{
    /* display:none; */
    /* transition-duration: 2s; */
}
.navbar__ul__mobile{
    display: flex;   
    list-style: none;
    align-items: center;
}
.navbar__ul__mobile li{
    margin-right: 25px;
    cursor: pointer;
    font-weight: 500;
}
.navbar__burger{
    display: none !important;
}

.navbar__burger{
    position:relative ;
    right:-3px;
    top:12px ;
    margin: 5px;
}
/* mobile */

@media (max-width : 1042px)
{  
    .navbar__ul__desktop{
        display:none;
    }
     .navbar .navbar__desktop{
    font-size: 25px;
    width:100%;
    height: 60%;
    }
    .navbar h1{
        font-size:20px;
        margin-top:17px;
    }
    .navbar__search{
            
    }
    .navbar__search input{
        max-width : 110px;
        max-height : 30%;
        margin-right: 2px;
    }
    .navbar__search a{
        
        font-size: 15px;
        padding: 5px;
    }
    .navbar__ul__mobile{
        display: flex;   
        list-style: none;
        align-items: center;
    }
    .navbar__ul__mobile li{
        margin-right: 25px;
        cursor: pointer;
        font-weight: 500;
        font-size:20px;
    }
    .navbar__burger{
        display:block !important;
    }
}